## Importación de librerías

In [1]:
import numpy as np
import pandas as pd

## Carga de datos

In [6]:
train = pd.read_csv('train_data.csv')

In [8]:
labels = pd.read_csv('train_labels.csv')

## Análisis exploratorio de datos

In [9]:
train.head()

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,NaN,NaN,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,...,NaN,NaN,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,...,NaN,NaN,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,...,NaN,NaN,NaN,0.006117,0.004516,0.003200,NaN,0.008419,0.006527,0.009600
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,...,NaN,NaN,NaN,0.003671,0.004946,0.008889,NaN,0.001670,0.008126,0.009827

In [10]:
train.describe().T

,count,mean,std,min,25%,50%,75%,max
P_2,5485466.0,0.656334,0.244649,-4.589548e-01,0.480331,0.694295,0.864816,1.010000
D_39,5531451.0,0.153117,0.270071,5.026190e-09,0.004528,0.009057,0.236641,5.389619
B_1,5531451.0,0.124010,0.211987,-7.588799e+00,0.008864,0.031330,0.125902,1.324060
B_2,5529435.0,0.621489,0.401488,9.192280e-09,0.105331,0.814333,1.002403,1.010000
R_1,5531451.0,0.078803,0.226397,1.534223e-09,0.002896,0.005782,0.008661,3.256284
...,...,...,...,...,...,...,...,...
D_141,5429903.0,0.164521,0.348277,1.650100e-10,0.003026,0.006052,0.009079,1.339910
D_142,944408.0,0.390799,0.236182,-1.453934e-02,0.199399,0.382136,0.559308,2.229368
D_143,5429903.0,0.178802,0.378950,5.549692e-09,0.003028,0.006053,0.009076,1.010000
D_144,5490724.0,0.052390,0.182513,2.500991e-09,0.002753,0.005508,0.008260,1.343331
D_145,5429903.0,0.062335,0.193494,1.226024e-09,0.003028,0.006053,0.009081,4.827630

In [11]:
labels.head()

                                         customer_ID  target
0  0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...       0
1  00000fd6641609c6ece5454664794f0340ad84dddce9a2...       0
2  00001b22f846c82c51f6e3958ccd81970162bae8b007e8...       0
3  000041bdba6ecadd89a52d11886e8eaaec9325906c9723...       0
4  00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...       0

In [12]:
labels.describe().T

           count      mean      std  min  25%  50%  75%  max
target  458913.0  0.258934  0.43805  0.0  0.0  0.0  1.0  1.0

## Limpieza de datos

## Visualización de datos